@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
  --colorFuente: #fffadd;
  --colorFondoItems: #ffffff;
  --colorSubTitulo: #deb027;
  --colorBackground: linear-gradient(#332b47, #a5b381);
  --colorBotonesHover: #016a70;
  --colorDescripcion: #faebd7;
  --colorValor: rgba(45, 45, 45, 0.8);
  --fuenteMedia: 2rem;
  --fuenteBaja: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background: var(--colorBackground);
  font-family: "League Spartan", system-ui, sans-serif;
}

header {
  height: 128px;
}

#imagen-header {
  height: 128px;
}

#imagen-carrusel {
  height: 140%;
  background-position: center;
  background-color: #332b47;
}

.carousel-item {
  transition: transform 1s ease, opacity 0.5s ease-out;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
  background: var(--colorFondoItems);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
text-shadow: 0px 3px 3px rgba(255,255,255,.3),0px -2px 1px rgba(0,0,0,.2);
}

.titulo-detalles {
  margin: 0;
  display: flex;
  height: 99px;
  justify-content: center;
  align-items: center;
}

h3 {
  color: var(--colorSubTitulo);
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-family: 'Satisfy', cursive;
}

.header-titulos {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to left, transparent, #fff, transparent) 1;
  height: 128px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  padding: 20px;
  justify-items: center;
}

.grid-item {
  background-color: var(--colorFondoItems);
  color: var(--colorSubTitulo);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 1px 1px 5px #000;
  transition: 0.5s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  &:hover {
    color: var(--colorSubTitulo);
    box-shadow: 2px 2px 4px var(--colorBotonesHover);
    transition: 0.5s;
    filter: none;
  }
}
.detalles-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#descripcion {
  font-size: 1.5rem;
  padding: 0 20px;
  color: var(--colorDescripcion);
  text-shadow: 1px 1px #000;
}

h4 {
  font-size: 1.2rem;
}

#nombre {
  text-align: center;
  font-size: 3em;
  color: var(--colorDescripcion);
}

#imagen {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000;
}

#imagen-producto {
  margin: auto;
  height: 250px;
  width: 250px;
  box-shadow: 2px 2px 5px #000;
  border: 2px solid var(--colorDescripcion);
  border-radius: 5px;
  animation-name: rotar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in;
}

#descripcion {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

#valor {
  font-size: 1.5em;
  font-style: italic;
  border: 1px solid var(--colorDescripcion);
  border-radius: 5px;
  border-image: linear-gradient(to bottom, transparent, var(--colorDescripcion))1;
  padding: 8px;
  color: var(--colorValor);
}


@keyframes rotar{
  
 

  0%{
    border-image: linear-gradient(0deg ,transparent , var(--colorDescripcion) ) 1;
  }

  25%{
    border-image: linear-gradient(90deg ,transparent , var(--colorDescripcion) ) 1;
  }

  50%{
    border-image: linear-gradient(180deg ,transparent , var(--colorDescripcion) ) 1;
  }

  75%{
    border-image: linear-gradient(240deg ,transparent , var(--colorDescripcion)) 1;
  }

  100%{
    border-image: linear-gradient(360deg ,transparent , #fff ) 1;
  }

}

#puntuacion {
  margin: 10px 0;
}

a {
  display: grid;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--colorFondoItems);
  color: var(--colorSubTitulo);
  transition: 1s;
  border: none;
  box-shadow: 2px 2px 4px #000;


  position: relative;
  z-index: 1;
  overflow: hidden;

  
  &:hover {
    color: var(--colorFondoItems);
    background-color: var(--colorBotonesHover);
    transition: 1s;
  }
}


a::after {
  content: "";
  background: var(--colorBotonesHover); 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: grid;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
a:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}



.ver {
  padding: 5px 10px;
  margin-top: 15px;
  font-size: 1rem;
  color: #808080;
}

footer {
  color: var(--colorFondoItems);
  text-shadow: 1px 1px #000;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-style: italic;
  justify-content: center;
  height: 100px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(to left, transparent, #fff, transparent) 1;
  margin-top: 20px;
}

@media screen and (max-width: 719px) {
  .grid-item {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
