@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

:root {
  --colorFuente: #fffadd;
  --colorFondoItems: #ffffff;
  --colorTitulo: #a2c579;
  --colorSubTitulo: #8b8b8b;
  --colorBackground: linear-gradient(#332b47, #a5b381);
  --colorBotonesHover: #016a70;
  --colorDescripcion: #2d2d2d;
  --fuenteMedia: 2rem;
  --fuenteBaja: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background: var(--colorBackground);
  font-family: "League Spartan", system-ui, sans-serif;
}

header {
  height: 128px;
}

#imagen-header {
  height: 128px;
}

#imagen-carrusel {
  height: 140%;
  background-position: center;
  background-color: #332b47;
}

.carousel-item {
  transition: transform 1s ease, opacity 0.5s ease-out;
}

h1 {
  color: var(--colorTitulo);
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  padding-top: 15px;
  text-shadow: 2px 2px #000;
}

h3 {
  color: var(--colorSubTitulo);
  text-align: center;
  text-shadow: 2px 2px #000;
}

.header-titulos {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to left, transparent, #fff, transparent) 1;
  height: 128px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  padding: 20px;
  justify-items: center;
}

.grid-item {
  background-color: var(--colorFondoItems);
  color: var(--colorFuente);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 1px 1px 5px #000;

  transition: 0.5s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  &:hover {
    color: var(--colorFuente);
    box-shadow: 2px 2px 4px var(--colorBotonesHover);
    transition: 0.5s;
    filter: none;
  }
}
.detalles-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#descripcion {
  font-size: 1.5rem;
  padding: 0 20px;
  color: var(--colorDescripcion);
}

h4 {
  font-size: 1.2rem;
}

#nombre {
  text-align: center;
  font-size: 3em;
  color: var(--colorDescripcion);
}

#imagen {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000;
}

#imagen-producto {
  margin: auto;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000;
}

#descripcion {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

#valor {
  font-size: 1.5em;
}

#puntuacion {
  margin: 10px 0;
}

a {
  display: grid;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--colorFondoItems);
  color: var(--colorSubTitulo);
  transition: 1s;
  border: none;
  box-shadow: 2px 2px 4px #000;
  &:hover {
    color: var(--colorFondoItems);
    background-color: var(--colorBotonesHover);
    transition: 1s;
    /* box-shadow: 1px 1px  var(--colorBackgrund); */
  }
}

.ver {
  padding: 5px 10px;
  margin-top: 15px;
  font-size: 1rem;
}

footer {
  color: var(--colorSubTitulo);
  text-shadow: 1px 1px #000;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-style: italic;
  justify-content: center;
  height: 100px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(to left, transparent, #fff, transparent) 1;
  margin-top: 20px;
}

@media screen and (max-width: 719px) {
  .grid-item {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
